{% extends 'layout.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block body %}
    {# <h1> Inscription </h1>

    <h2> Bébé </h2> #}

    {{ include('bebe/_form.html.twig') }}

    
{% endblock %}
