body {
  background-color: #f2f3f3;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 14px;
}
a {
  /* text-decoration: none; */
  color: black;
}

a:hover {
  color: #424242;
}

h2 {
  background-color: #f9efbc;
  font-size: 20px;
  padding: 10px;
}

.margin-bottom {
  margin-bottom: 200px;
}

.fa-check {
  color: green;
}
.fa-clock {
  color: rgb(184, 184, 184);
}
.gras {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.base {
  background-color: #f9efbc;
  box-shadow: 0 4px 8px rgb(0 0 0 / 28%);
  border-radius: 5%;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.logo-img {
  height: 500px;
  width: auto;
}

.color-table {
  box-shadow: 0 4px 8px rgb(0 0 0 / 28%);
  border-radius: 5%;
  background-color: #ffff;
}

.section-info img {
  height: 200px;
}

.section-info {
  background-color: #f1fafe;
}

.section-profil-bebe {
  background-color: #f1e085;
  padding: 50px;
  margin-left: 30px;
}

.section-profil-bebe-img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .section-profil-bebe {
    padding: 50px 10px;
    margin-left: 10px;
  }
  .section-info {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .section-info img {
    height: 120px;
  }
}

/* Page évènement */
.event-section h6 {
  background-color: #f9efbc;
  padding: 20px;
}

.event-section {
  background-color: white;
}

/* navbar changement des couleurs */
.navbar {
  vertical-align: bottom;
  line-height: 50px;
  background-color: #f9efbc;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
}

.navbar-light .navbar-brand {
  /* color: #074fad; */
}

.navbar-default {
  /* Couleur de fond de la barre de navigation */
  background-color: #f9efbc;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

/* Barre de liens ver pages principales */
.icon-link {
  margin: 50px 20px;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  text-align: center;
}

.icon-link img {
  height: 60px;
  margin-top: 20px;
}

.nav-link .disabled {
  color: black;
}

.icon-link:hover {
  background-color: #fbdf49;
}

.biberon {
  background-color: #ff7979;
}

.couche {
  background-color: #badc58;
}

.dodo {
  background-color: #7ed6df;
}

.statistique {
  background-color: #ffbe76;
}
/* footer  */
footer {
  background-color: #424242;
  color: white;
  height: 20vh;
}

footer p {
  color: white;
}

.footer-link:hover {
  color: #f1e085;
}

/* Bouttons */
.btn-primary {
  color: black;
  background-color: #f1e085;
  border-color: #f1e085;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #ffbe76;
  border-color: #ffbe76; /*set the color you want here*/
}

@media (max-width: 700px) {
  .icon-link img {
    height: 30px;
    width: 30px;
  }
  .icon-link {
    width: 80px;
    height: 80px;
    margin: 50px 5px;
  }
}
