{% extends "base.html.twig" %}


{% block body %}
    <header>
    {# Intégration des images, il faut installer : composer require symfony/asset #}
        {# <img src="{{ asset('image/header.jpeg')}}" alt="rust-texture"> #}

    {# Intégration de la nav Bootstrap : #}
        <nav>
        
        </nav>
    </header>
    
    <main class="container">
        {% block content %}
            {# c'est ici que viendra s'inserer le contenu propre à chaque page  #}
        {% endblock %} 
    </main>

    <footer>
        {# <img src="{{ asset('image/footer.jpeg')}}" alt="footer rust-texture"> #}

        <div class="copyright">
            <p>
                &copy;EnfantDo 2021 - {{"now" | date("Y") }} all right reserved for all countries
            </p>
        </div>
    </footer>

{% endblock %}