{% extends "layout.html.twig" %}

{% block content %}
    <div class="text-center">
        <img class="w-25" src="{{ asset('image/icon/icon-dodo.png')}}" alt="rust-texture">
    </div>

    <div class="w-50 offset-3 col-6 offset-3 mt-5 margin-bottom">
    {{ form_start(form) }}

        <h1> Inscription </h1>

        <h2> Parent </h2> 
        <div class="section-info p-3">
            {{ form_widget(form) }}

            {{ form_end(form) }}
        </div>
        
    </div>
{% endblock %}